$mainColor: rgba(0, 0, 0, .8);
$secondaryColor: #b073d9;
$keyColor: #f21b91;

$w-100: 100%;
$w-50: 50%;

$border: solid;
$border1: dotted;

$paleta: (
    'uno':#f21b91,
    'dos':#b073d9,
    'tres':rgba(242, 27, 145, 0.404),
    'cuatro':#dfb3fdcb,
    'cinco':#8f6ea544,
);


@mixin boton ($border, $color){
    border: $border $keyColor 1.5px;
    color: $keyColor;
    background-color: black;
    transition: background 0.2s;
}

@mixin cuadro ($border1, $mainColor){
    border: $border1 $keyColor 1.5px;
    background-color: $mainColor;
}

.info2{
    border: dotted 1.5px $secondaryColor;
    background-color: $mainColor;
}