*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    box-sizing: border-box;
}

body{
	background-image: url(../pics/pattern2.png); 
	background-repeat: repeat; 
	background-attachment: fixed; 
}

h1{
    font-family: 'Bree Serif', serif;
    color: #f21b91;
}

h2{
    font-family: 'Bree Serif', serif;
    color: #b073d9;
}

